@font-face {
    font-family: 'NanumSquareNeo';
    src: url('../assets/fonts/NanumSquareNeoOTF-Bd.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
#errorMessage {
    color: red;
    font-weight: bold;
    display: none; /* 기본적으로 보이지 않도록 설정 */
    margin-top: 10px;
    text-align: center;
}


body {
    font-family: NanumSquareNeo, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .login-container {
    width: 100%;
    max-width: 400px; 
    min-width: 300px; 
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .logo {
    margin-bottom: 50px;
  }
  
  .logo img {
    width: 150px;
    height: auto;
  }
  
  .logo h1 {
    font-size: 24px;
    color: #e63946;
    margin: 10px 0 0;
  }
  
  .login-form {
    width: 100%;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* 패딩 포함 */
  }
  
  .password-wrapper {
    position: relative;
  }
  
  .password-wrapper .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
  }
  
  .login-button {
    width: 100%; /* 입력 칸과 동일한 길이 */
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #e63946;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    box-sizing: border-box; /* 패딩 포함 */
  }
  
  .login-button:hover {
    background-color: #d62828;
  }
  
  .signup-link {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .signup-link a {
    color: #e63946;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  
  /* 반응형 미디어 쿼리 */
  @media (max-width: 768px) {
    body {
      padding: 20px;
    }
  
    .login-container {
      margin: 0 auto;
    }
  
    .logo h1 {
      font-size: 20px;
    }
  
    .login-button {
      font-size: 14px;
      padding: 10px;
    }
  
    .signup-link {
      font-size: 12px;
    }
  }
  